.add-btn {
    display: inline-block; 
    height: 8rem;
    width: 8rem;  
    border-radius: $circle;
    border: none; 
    font-size: 80px; 
    background-color: $color3; 
    color: $color1; 
    position: absolute;  
    top: 38%; 
    right: 6.5%; 
    transform: translate(10%); 
}

.add-btn:hover {
    cursor: pointer; 
}

.btn-modal {
    background-color: $color4; 
    color: $color1; 
    border-radius: 5%; 
    width: 50%; 
    font-size: 1.3rem; 
}

.btn-modal:hover{ 
    background-color: $color2; 
}

.list-btn {
    display: inline-block; 
    border: none; 
    border-radius: $circle; 
    background-color: $color3; 
    color: $color1;
    padding: 8px 10px; 
    margin: 0.3em; 
 
}

.list-btn:hover{
    cursor: pointer; 
}
