.add-btn {
    display: inline-block; 
    height: 120px;
    width: 120px;  
    border-radius: 50%;
    border: none; 
    font-size: 80px; 
    background-color: $color3; 
    color: $color1; 
    position: absolute;  
    top: 40%; 
    right: 6.5%; 
}

.add-btn:hover {
    cursor: pointer; 
}

.btn-modal {
    background-color: $color4; 
    color: $color1; 
    border-radius: 5%; 
    width: 50%; 
    font-size: 20px; 
}

.btn-modal:hover{ 
    background-color: $color2; 
}

.list-btn {
    display: inline-block; 
    border: none; 
    border-radius: 50%; 
    background-color: $color3; 
    color: $color1;
    padding: 8px 10px; 
    margin: 3px; 
}

.list-btn:hover{
    cursor: pointer; 
}



