.table { 
    margin-top: 60px; 
    width: 90%; 
    color: $color4;
   
    tr {
        font-size: 1.1rem; 
        font-family: $font-tasks; 
        
        td {
            padding: 1.1rem; 
            vertical-align: center;    
        }  
    } 
}


.list-icon {
    display: inline-block; 
    border: none; 
    border-radius: $circle; 
    background-color: $color3; 
    color: $color1; 
    height: 3.5rem; 
    width: 3.5rem; 
    position: relative; 
    align-self: center; 
}

.fa-home {
    position: absolute; 
    top: 9px;
    left: 8px; 
}

.fa-briefcase {
    position: absolute;
    top: 10px;
    left: 11px; 
}

