* {
    box-sizing: border-box;
}

.container {
    width: 90%; 
}

body {
    font-family: $font-family1;
    background-color: $color1; 
}

.hidden {
    display:none; 
}

.visible {
    display: block; 
}