* {
    box-sizing: border-box;
}

.container {
    width: 90%; 
}

body {
    // font-family: 'Gudea', sans-serif;
    font-family: $font-family1;
}


//Odkomentowac na koniec
// .hidden {
//     display:none; 
// }