.header {
    background-image: url("../images/header-bckgrd.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: bottom; 
    /* height: 60vh;  */
    min-height: 300px; 
    display: flex; 
    color: $color1;
    
}

.header-info {
    width: 100%; 
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    align-items: center;
}

.header-title {
    font-size: 60px; 
    font-weight: 700;
    // font-family: $font-family1; 
}

.current-date {
    font-size: 30px;  
}


.left-part {
    display: flex; 
    
}

.header-task {
    width: 50%; 
    height: 100%; 
    background: linear-gradient( rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)); 
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center;    
    margin-left: 5px; 
}

.header-task-type {
    font-size: 22px; 
}
